# === Ansible ===
ansible/.vault_pass
ansible/ansible-navigator.log
ansible/playbooks/*.retry
*.retry

# === Terraform ===
.terraform/
.terraform.lock.hcl
*.terraform.lock.*
crash.log
*.crash.log

# === State Files ===
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# === Variables ===
*.tfvars
*.tfvars.json

# === OS & IDE ===
.DS_Store
.vscode/
.idea/

# === Python ===
__pycache__/
*.py[cod]
*$py.class

# === Other ===
website/resume/
